= javascript_include_tag "jquery.ui.widget.js"
= javascript_include_tag "jquery.fileupload.js"
= javascript_include_tag "jquery.iframe-transport.js"

= stylesheet_link_tag "file_upload.css"
= javascript_include_tag "file_upload.js"
= javascript_include_tag "recipients.js"

= form_for @process, :html => {:class => "form-horizontal"} do |f|
  %fieldset
    %legend= t(:'create_process.page_title')
    = form_errors(@process)
    - unless current_user
      .control-group
        =f.label :owner, :class=>"control-label", :required=>true
        .controls
          = f.text_field :owner, :class=>"input-xxlarge", :type=>"email"
    -else
      =f.hidden_field :owner, :value=>current_user.email
      =f.hidden_field :user_id, :value=>current_user.id
    .control-group
      =f.label :title, :class=>"control-label", :required=>true
      .controls
        = f.text_field :title, :class=>"input-xxlarge"
    .control-group
      =f.label :message, :class=>"control-label", :required=>true
      .controls
        = f.text_area :message, :rows=>10, :class=>"input-xxlarge"
    .control-group
      =f.label :files, :class=>"control-label", :required=>true
      .controls
        #zoneContainer
          #dropZone
          #notDropZone= 'put your files here'
        %span.btn.fileinput-button
          %span= 'Add file...'
          %input#inputFile{:type => 'file'}
    .control-group
      %label.control-label{:for=>"recipients"}= t(:'create_process.recipients_title')
      .controls
        .recipients
          %table.table.table-striped#recipients
            %tbody
            %tfoot
              %tr
                %td{:style=>'width: 15px; border: none'}
                %td{:style=>'border: none'}
                  %input#email
                %td{:style=>'border: none'}
                  %select#role
                    %option{:value=>'0'}= t(:'create_process.choose_role')
                    - @roles.each do |role|
                      %option{ :value => role[:id] }= t("roles.#{role[:role]}")
    .form-actions
      %button{:type=>"submit", :class=>"btn btn-primary"} Create Process
        

