= form_for @process, :html => {:class => "form-horizontal"} do |f|
  %fieldset
    %legend= t(:'create_process.page_title')
    = form_errors(@process)
    - unless current_user
      .control-group
        =f.label :owner, :class=>"control-label", :required=>true
        .controls
          = f.text_field :owner, :class=>"input-xxlarge", :type=>"email"
    -else
      =f.hidden_field :owner, :value=>current_user.email
      =f.hidden_field :user_id, :value=>current_user.id
    .control-group
      =f.label :title, :class=>"control-label", :required=>true
      .controls
        = f.text_field :title, :class=>"input-xxlarge"
    .control-group
      =f.label :message, :class=>"control-label", :required=>true
      .controls
        = f.text_area :message, :rows=>10, :class=>"input-xxlarge"
    .control-group
      %label.control-label{:for=>"recipients"}= t(:'create_process.recipients_title')
      .controls
        .recipients
          :javascript
              $(document).ready(function(){

                var id_counter = 0;

                function insertRow(email, role_id, role_title){
                  var uniq = true;
                  var items = $('input[role="email"]');
                  items.each(function(i,element){
                    if($(element).val() == email){
                      uniq = false;
                      alert('This e-mail is already in the recipients list.');
                    }
                  })
                  
                  if(uniq){
                    $('#recipients > tbody:last').append(
                      '<tr id="recipient_row' + id_counter + '"><td><a id="remove_recipient_row' + id_counter + '"><i class="icon-trash"></i></a></td><td>' + email + '<input type="hidden" role="email" name="user_process[recipients[rec_' + id_counter + '][email]]" value="' + email + '"></td><td>' + role_title + '<input type="hidden" name="user_process[recipients[rec_' + id_counter + '][role]]" value="' + role_id + '"></td></tr>'
                    );

                    var remove_id_string = '#recipient_row' + id_counter;
 
                    $('#remove_recipient_row' + id_counter).click(function(){
                      $(remove_id_string).remove();
                    });

                    $('#email').val('');
                    id_counter++;
                  }
                  $('#role').val(0);
                  $('#role').attr('disabled', '');
                }

                $('#submit_btn').click(function(){
                  $('#create_form').submit();
                });
                
                $('#role').attr('disabled', '');

                $('#email').bind('keyup change', function(){
                  var email_string = $('#email').val();
                  if(email_string.match(/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/i)){
                    $('#role').removeAttr('disabled');
                  } else {
                    $('#role').attr('disabled', '');
                  }
                })

                $('#role').change(function(){
                  insertRow($('#email').val(), $('#role').val(), $('#role option:selected').text());
                })
              })
          %table.table.table-striped#recipients
            %tbody
            %tfoot
              %tr
                %td{:style=>'width: 15px; border: none'}
                %td{:style=>'border: none'}
                  %input#email
                %td{:style=>'border: none'}
                  %select#role
                    %option{:value=>'0'}= t(:'create_process.choose_role')
                    - @roles.each do |role|
                      %option{ :value => role[:id] }= t("roles.#{role[:role]}")
    .form-actions
      %button{:type=>"submit", :class=>"btn btn-primary"} Create Process
        

